main {
    padding: 30px 40px;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(78, 115, 223);
}

#content {
    width: 100%;
    min-height: 100% !important;
    padding-left: 250px;
    position: relative;
    margin-right: 0;
    /* background-color:#f8f9fc; */
}